@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --duration: 60s;
    --gap: 1rem;
    --background: #000000;
    --foreground: #f2f2f2;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: #000000;
    --popover-foreground: #f2f2f2;
    --primary: #f2f2f2;
    --primary-foreground: #000000;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: rgba(242, 242, 242, 0.1);
    --muted-foreground: 240 3.8% 46.1%;
    --accent: #27272a;
    --accent-foreground: #f2f2f2;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: rgba(242, 242, 242, 0.1);
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --sidebar-background: #000000;
    --sidebar-foreground: #999999;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: #ffffff1a;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-input: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: #000;
  color: #f2f2f2;
}

svg {
  vertical-align: middle;
}
